<div>
    <div class="card-title px-3 d-flex justify-content-between">
    
        <h5 class="card-title w-75 mt-2 pt-1">{{productInfo.name}}</h5>
        <div class="w-25" *ngIf="isLoggedIn">
          <button data-bs-toggle="tooltip" data-bs-placement="top" title="Add To Wish List" 
            class="p-0 pl-2 ml-auto btn border-0 btn-outline-success btn-success text-center" 
            style="font-size: 30px;width: 45px;height: 45px;" 
            *ngIf="!isInWishList(productInfo)" 
            (click)="addToWishList(productInfo)"
          ><i class="fa fa-solid fa-paw"></i>
          <span class="" style="position: relative;font-size: 12px;top: -19px;left: -7px;">+</span>
          </button>
    
          <button data-bs-toggle="tooltip" data-bs-placement="top" title="Remove From Wish List" 
            class="p-0  pl-2 ml-auto btn border-0 btn-danger btn-outline-danger" 
            style="font-size: 30px;width: 45px;height: 45px;" 
            *ngIf="isInWishList(productInfo)" 
            (click)="removeFromWishList(productInfo)"
          ><i class="fa fa-solid fa-paw"></i>
          <span class="" style="position: relative;font-size: 12px;top: -18px;left: -6px;">-</span>
          </button>
    
        </div>
</div>
