<div class ="container text-center my-5">
    <form id = "login-form">
        <div class="form-group text-left">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Ensure you enter the correct email</small>
        </div>

        <div class="form-group text-left">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div>
            <button class="btn w-25 btn-success" >Login</button>
            <button class="btn w-25 btn-primary" >Register</button>
        </div>
    </form>

    <p>Hey Hey Hey</p>
</div>
